root { 
    display: block;
}

body{
    background-color: #f3f3f3;
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../sprites/bg_tile.jpg);    
}

*, *:before, *:after {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
     
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

#canvas{
    position: fixed;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	-ms-touch-action: none;
}

.ani_hack{
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
}

.leaderboard {
    z-index: 1000000000;
    background-color: white;
    margin-top: 100vh;
    padding-bottom: 50px;
    position: relative;
  }

/***************FONTS*******************/

.check-fonts{
                position: fixed;
                opacity:0;
}

.check-font-1{
        font-family: 'arialbold';
}
.check-font-2{
        font-family: 'pixel_lcd7regular';
}
                
@font-face {
    font-family: 'pixel_lcd7regular';
    src: url('pixel_lcd-7-webfont.eot');
    src: url('pixel_lcd-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('pixel_lcd-7-webfont.woff2') format('woff2'),
         url('pixel_lcd-7-webfont.woff') format('woff'),
         url('pixel_lcd-7-webfont.ttf') format('truetype'),
         url('pixel_lcd-7-webfont.svg#pixel_lcd7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arialbold';
    src: url('arialbd-webfont.eot');
    src: url('arialbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('arialbd-webfont.woff2') format('woff2'),
         url('arialbd-webfont.woff') format('woff'),
         url('arialbd-webfont.ttf') format('truetype'),
         url('arialbd-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}